doctype
html
	head
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/javascripts/socket.io.js').
		script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
		script(type='text/javascript', src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css').
		link(rel='stylesheet', href='/stylesheets/styleL.css').
		link(rel='stylesheet', href='/stylesheets/styles.css').
		title= title
	body
		!{flash}
		// Navigation
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
			.container
				a.navbar-brand(href='home')
					img(src='/images/twittq.png' width='80px')
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarResponsive.collapse.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item.active
							a.nav-link(href='home')
								| Home
								span.sr-only (current)
						li.nav-item
							a.nav-link(href='profile') Profile
						li.nav-item
							a.nav-link(href='trend') Trendings
						li.nav-item
							a.nav-link(href='/') Sign out
		// Page Content
		.container
			block content