doctype
html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css').
    link(rel='stylesheet', href='/stylesheets/styleL.css').
    title= title
  body
    !{flash}
    .container-fluid
      .row.no-gutter
        .d-none.d-md-flex.col-md-4.col-lg-6.bg-image
        .col-md-8.col-lg-6
          .login.d-flex.align-items-center.py-5
            .container
              .row
                .col-md-9.col-lg-8.mx-auto
                  h3.login-heading.mb-4 Welcome back to Qtter!
                  form(method='post')
                    .form-label-group
                      input#inputUserame.form-control(name= 'username', type='text', placeholder='Username', required='', autofocus='')
                      label(for='inputUserame') Username
                    .form-label-group
                      input#inputPassword.form-control(name= 'password', type='password', placeholder='Password', required='')
                      label(for='inputPassword') Password
                    .custom-control.custom-checkbox.mb-3
                      input#customCheck1.custom-control-input(type='checkbox')
                      label.custom-control-label(for='customCheck1') Remember password
                    button.btn.btn-lg.btn-primary.btn-block.btn-login.text-uppercase.font-weight-bold.mb-2(type='submit') Sign in
                    .text-center
                  a.d-block.text-center.mt-2.small(href='/register/') Register
