doctype
html
	head
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/javascripts/socket.io.js')
		link(rel='stylesheet', href='/stylesheets/styles.css').
		script(type='text/javascript', src= script)
		title= title
	body!= body
