body {
	margin:0px;
	padding:0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#content{
	padding:0px;
	margin:0px;
}

header{
	background-color: #75BEDA;	
}

main{
	width:100%;
	height:500px;
	background-color:red;
}
